<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hanleylee.alfred-eudic-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>138977FA-CDC3-4EA1-BFD6-97D2A311A279</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F8275E3-7428-4CD8-95B7-867E906FB913</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13EFA1A7-63E6-4CA5-A26B-D9A55C022DE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB8E8B57-E059-4F7D-BFC2-A555F9599BD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>422E2CC4-6F3A-4B69-B7ED-74EB1D2F6699</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F015075-8754-4F33-B048-825D70D02947</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3C4D248D-11B5-4624-A4C1-114E06E04301</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FDDDC5DB-C1F9-46B9-A3F1-3B4FF2BED8C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99F00F03-5A09-41BC-B609-D3E0EBED741F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>422E2CC4-6F3A-4B69-B7ED-74EB1D2F6699</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F015075-8754-4F33-B048-825D70D02947</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6D08E60-8060-4098-BB0F-33A8F4A94614</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>551B6DD5-E891-46CF-8692-243A4AE4CBED</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Speak</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6D08E60-8060-4098-BB0F-33A8F4A94614</key>
		<array/>
		<key>EAD07727-8ECB-4390-85F2-3B1F5FCC780C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>138977FA-CDC3-4EA1-BFD6-97D2A311A279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB8E8B57-E059-4F7D-BFC2-A555F9599BD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAD07727-8ECB-4390-85F2-3B1F5FCC780C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hanley Lee</string>
	<key>description</key>
	<string>Search Eudic Translation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EudicSearch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>e</string>
				<key>subtext</key>
				<string>Search Eudic for “{query}...”</string>
				<key>text</key>
				<string>Search Eudic</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F015075-8754-4F33-B048-825D70D02947</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./src/search_eudic.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6D08E60-8060-4098-BB0F-33A8F4A94614</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>99F00F03-5A09-41BC-B609-D3E0EBED741F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>e</string>
						<key>uid</key>
						<string>3C4D248D-11B5-4624-A4C1-114E06E04301</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>422E2CC4-6F3A-4B69-B7ED-74EB1D2F6699</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./src/search_eudic.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FDDDC5DB-C1F9-46B9-A3F1-3B4FF2BED8C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./src/speak_eudic.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>551B6DD5-E891-46CF-8692-243A4AE4CBED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching Github Release</string>
				<key>script</key>
				<string>&lt;?php

require('src/Updater.php');

$version = '1.0.0';

$updater = new Updater($version);

echo $updater-&gt;fetchReleases();

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Looking for latest version...</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EB8E8B57-E059-4F7D-BFC2-A555F9599BD5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Downloads/EudicSearch.alfredworkflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>4F8275E3-7428-4CD8-95B7-867E906FB913</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EAD07727-8ECB-4390-85F2-3B1F5FCC780C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>update</string>
				<key>subtext</key>
				<string>Press Enter to Confirm</string>
				<key>text</key>
				<string>Update EudicSearch Workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>13EFA1A7-63E6-4CA5-A26B-D9A55C022DE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>138977FA-CDC3-4EA1-BFD6-97D2A311A279</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>通过 Alfred 与 Eudic 快速查询 当前已选择单词 或 搜索单词</string>
	<key>uidata</key>
	<dict>
		<key>138977FA-CDC3-4EA1-BFD6-97D2A311A279</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>13EFA1A7-63E6-4CA5-A26B-D9A55C022DE9</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>422E2CC4-6F3A-4B69-B7ED-74EB1D2F6699</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>4F8275E3-7428-4CD8-95B7-867E906FB913</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>551B6DD5-E891-46CF-8692-243A4AE4CBED</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>99F00F03-5A09-41BC-B609-D3E0EBED741F</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>9F015075-8754-4F33-B048-825D70D02947</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B6D08E60-8060-4098-BB0F-33A8F4A94614</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EAD07727-8ECB-4390-85F2-3B1F5FCC780C</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>EB8E8B57-E059-4F7D-BFC2-A555F9599BD5</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>FDDDC5DB-C1F9-46B9-A3F1-3B4FF2BED8C3</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.4.0</string>
	<key>webaddress</key>
	<string>https://www.hanleylee.com</string>
</dict>
</plist>
